# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Robot Framework reports
beta_team/reports/*.html
beta_team/reports/*.xml

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
